body{
    font-family: 'Pacifico', cursive;
    background-image: url("empanada.jpg"); 
    background-size: cover;
}

#foto_de_la_empanada{
    background-color: rgba(201, 135, 42, 0.716);
    width: 450px;
    height: 450px;
    border-radius: 30px;
    box-shadow: 20px 20px 20px rgb(129, 88, 29);
}
